/* Not Just a Grid v1.1 - June 2011 - (c) 2011 Al Redpath / Outrageous Creations! Licenced under an MIT Licence*/
#header {
    position: relative;
}
ul {
 	position: absolute;
    bottom: 0em; right: 0px;
    font-family: Consolas;
    font-weight: normal;
    font-size: 18px;
    line-height: 1em;
    margin: .35em 0 .35em 0; padding: 0;
    float: left;	
    border-right: 1px solid #777777;
}

li {
	margin: 2px;
	text-align: center;
	text-decoration: none;
	color: white;
	display: inline;
	list-style-type: none;
}

#header li a{
	border-right: 2px solid white;
	margin: 2px;
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 16px 18px;
	display: inline;
	list-style-type: none;
}

#header li a:hover:not(.active) {
    background-color: white;
	color:#DF7401;
}

#header li :last-child {
    border-right: none;
}

#paper{
	color:white;
	font-weight:bold;
	background-color:#FF8000;
	border-right:2px solid #F7BE81;
	border-left:2px solid #F7BE81;
	border-top:2px solid #F7BE81;
	border-bottom:2px solid #F7BE81;
	padding: 5px 5px;
	border-radius: 5px;
}

#paper:hover:not(.active){
	color:#DF7401;
	font-weight:bold;
	background-color:white;
	border-right:2px solid #F7BE81;
	border-left:2px solid #F7BE81;
	border-top:2px solid #F7BE81;
	border-bottom:2px solid #F7BE81;
	padding: 5px 5px;
	border-radius: 5px;
}

#code{
	color:white;
	font-weight:bold;
	background-color:#5F04B4;
	border-right:2px solid #9A2EFE;
	border-left:2px solid #9A2EFE;
	border-top:2px solid #9A2EFE;
	border-bottom:2px solid #9A2EFE;
	padding: 5px 5px;
	border-radius: 5px;
}

#code:hover:not(.active){
	color:#5F04B4;
	font-weight:bold;
	background-color:white;
	border-right:2px solid #9A2EFE;
	border-left:2px solid #9A2EFE;
	border-top:2px solid #9A2EFE;
	border-bottom:2px solid #9A2EFE;
	padding: 5px 5px;
	border-radius: 5px;
}

.text_center {text-align:center;}
.text_right {text-align:right;}
.obj_right{float:right;}
.obj_left{float:left;}
.top_margin_10 {margin-top:10px;}
.top_margin_20 {margin-top:20px;}
.bottom_margin_10 {margin-bottom:10px;}
.bottom_margin_20 {margin-bottom:20px;}
.left_margin_10 {margin-left:10px;}
.left_margin_20 {margin-left:20px;}
.right_margin_10 {margin-right:10px;}
.right_margin_20 {margin-right:20px;}
.vpad_10 {padding:10px 0;}
.vpad_20 {padding:20px 0;}
.vpad_15 {padding:15px 0;}
.bg_lightgrey {background-color:#ddd}
.bg_mediumgrey {background-color:#aaa}
.bg_lightblue {background-color:#b0c4de}
.bg_mediumblue {background-color:#7e9ec7}
.bg_yellowgreen {background-color:#adff2f}
.bg_greenyellow {background-color:#9acd32}
.bg_orange {background-color:#FF8000}
.nice_font {font-family: "Consolas"}
.font_size_large {font-size: 40px}
.font_size_medium {font-size: 25px}
.font_size_small {font-size: 17px}
.round_5 {-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.round_10 {-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
.round_15 {-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;}
.round_20 {-moz-border-radius:20px;-webkit-border-radius:20px;border-radius:20px;}
.blackborder {border:1px solid black;}
.blackborder_dotted {border:1px dotted black;}
.blackborder_inner {-moz-box-shadow:inset 0 0 0 1px #000; -webkit-box-shadow:inset 0 0 0 1px #000; box-shadow:inset 0 0 0 1px #000;}
.hiddentext {text-indent:-10000px;}
.shadow_out_0{-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);}
.shadow_out_2{-moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5); box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);}
.shadow_out_4{-moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);}
.shadow_in_0{-moz-box-shadow:inset 0 0 8px rgba(0, 0, 0, 0.5); -webkit-box-shadow:inset 0 0 8px rgba(0, 0, 0, 0.5); box-shadow:inset 0 0 8px rgba(0, 0, 0, 0.5);}
.shadow_in_2{-moz-box-shadow:inset 0 2px 8px rgba(0, 0, 0, 0.5); -webkit-box-shadow:inset 0 2px 8px rgba(0, 0, 0, 0.5); box-shadow:inset 0 2px 8px rgba(0, 0, 0, 0.5);}
.shadow_in_4{-moz-box-shadow:inset 0 4px 8px rgba(0, 0, 0, 0.5); -webkit-box-shadow:inset 0 4px 8px rgba(0, 0, 0, 0.5); box-shadow:inset 0 4px 8px rgba(0, 0, 0, 0.5);}
.clear {clear:both;}
